{% extends "backoffice/base.html" %}
{% block content %}

<div class="max-w-3xl mx-auto p-6 space-y-6">

<h2 class="text-2xl font-semibold">
    Paiement Bureau
</h2>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="post" class="card bg-base-100 shadow">
<div class="card-body space-y-4">

{% csrf_token %}

<!-- Organisation -->
<div>
    <label class="label">Organisation</label>
    {{ form.organization }}
    {% if form.organization.errors %}
        <p class="text-error text-sm">{{ form.organization.errors }}</p>
    {% endif %}
</div>

<!-- Type opération -->
<div>
    <label class="label">Type de paiement</label>
    {{ form.operation }}
</div>

<!-- Adhésion -->
<div id="adhesion-field">
    <label class="label">Frais d’adhésion</label>
    {{ form.montant_adhesion }}
</div>

<!-- Cotisation -->
<div id="cotisation-field">
    <label class="label">Cotisation annuelle</label>
    {{ form.montant_cotisation }}
</div>

<!-- Description -->
<div>
    <label class="label">Description</label>
    {{ form.description }}
</div>

<button class="btn btn-primary w-full">
    Enregistrer paiement
</button>

</div>
</form>

</div>
<script>
const operation = document.querySelector("#id_operation");
const adh = document.querySelector("#adhesion-field");
const cot = document.querySelector("#cotisation-field");

function toggleFields() {

    if (operation.value === "ADHESION") {
        adh.style.display = "block";
        cot.style.display = "none";
    }
    else if (operation.value === "COTISATION") {
        adh.style.display = "none";
        cot.style.display = "block";
    }
    else {
        adh.style.display = "block";
        cot.style.display = "block";
    }
}

operation.addEventListener("change", toggleFields);
toggleFields();
</script>
{% endblock %}