{% extends "auth/base_auth.html" %}
{% block content %}

<div class="card bg-base-100 shadow-xl">
{% if messages %}
    {% for message in messages %}
        <div class="alert 
            {% if message.tags == 'success' %}alert-success
            {% elif message.tags == 'info' %}alert-info
            {% elif message.tags == 'warning' %}alert-warning
            {% else %}alert-error{% endif %}
            mb-4">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    <div class="card-body">
        <h2 class="card-title justify-center text-2xl mb-4">
            Connexion
        </h2>

        <form method="post">
            {% csrf_token %}

            <label class="label">Email</label>
            <input type="email"
                   name="email"
                   class="input input-bordered w-full"
                   required>

            <label class="label mt-3">Mot de passe</label>
            <input type="password"
                   name="password"
                   class="input input-bordered w-full"
                   required>

            <button class="btn btn-primary w-full mt-6">
                Se connecter
            </button>
        </form>

        <div class="text-center mt-4 text-sm">
            Pas encore de compte ?
            <a href="{% url 'inscription' %}"
               class="text-primary font-semibold hover:underline">
                S’inscrire
            </a>
        </div>

        {% if error %}
        <div class="alert alert-error mt-4">
            {{ error }}
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}